<% include partials/_header %>

<nav class="navbar navbar-expand-lg navbar-dark ">
    <a class="navbar-brand" href="#">Sistema de proveedores</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
<div class="navbar-nav">

</div>
</div>
</nav>


<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Id Productos</th>
      <th>Nombre producto</th>
      <th>Cantidad Existente</th>
      <th>Precio</th>
      <th>Id Proveedores</th>
      <th>Accion</th>
    </tr>
  </thead>
  <tbody>
      <% if (datas) { %>
        <% for(var i = 0; i < datas.length; i++) { %>
          <tr>
              
            <td><%= datas[i].idProductos %></td>
            <td><%= datas[i].nombre_producto %></td>
            <td><%= datas[i].cantidadExistente %></td>
            <td><%= datas[i].precio %></td>
            <td><%= datas[i].idProveedores %></td>
            <td>
              <a href="/updateproductos/<%= datas[i].idProductos %>" class="btn btn-info">Editar</a>
              <a href="/deleteproductos/<%= datas[i].idProductos %>" class="btn btn-danger">Eliminar</a>
            </td>
          </tr>
        <% } %>
      <% } %>
   
  </tbody>
</table>

  <button type="button" id="btn-regresar" class="btn" onclick="location.href='/'">Regresar al menu principal</button>


<% include partials/_footer %>
