<% include partials/_header %>

<nav class="navbar navbar-expand-lg navbar-dark ">
  <a class="navbar-brand" href="#">Sistema de proveedores</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
<div class="navbar-nav">

</div>
</div>
</nav>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 offset-md-3 card">
      <div class="card-body">
        <form action="/updateproductos/<%= datas.idProductos %>" method="POST">
          
          <div class="form-group">
            <input type="text" name="nombre_producto" value="<%= datas.nombre_producto%>" placeholder="Nombre del producto" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="cantidadExistente" value="<%= datas.cantidadExistente%>" placeholder="Cantidad existente" class="form-control">
          </div>
          <div class="form-group">
              <input type="text" name="precio" value="<%= datas.precio%>" placeholder="Precio" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="idProductos" value="<%= datas.idProductos%>" placeholder="id del producto" class="form-control">
              </div>
             
  

          <button type="submit" class="btn btn-primary">
            Guardar cambios del producto
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<% include partials/_footer %>
